QSpinBox {
    background: [[input_bg]];
    color: [[fg]];
    border: 1px solid [[input_border]];
    border-radius: 8px;
    padding: 2px 5px;
    font-size: 11px;
    min-height: 22px;
    max-height: 22px;
}
