QSlider::groove:horizontal {
    background: [[border]];
    height: 3px;
    border-radius: 1px;
}
QSlider::handle:horizontal {
    background: [[slider_handle]];
    width: 10px;
    height: 10px;
    margin: -4px 0;
    border-radius: 5px;
}
QSlider::handle:horizontal:hover { background: [[slider_hover]]; }
