QToolBar {
    background: [[toolbar_bg]];
    border: none;
    border-bottom: 1px solid [[toolbar_separator]];
    spacing: 4px;
    padding: 4px 0;
}
QToolBar > QWidget { background: transparent; }
