QToolBar {
    background: [[toolbar_bg]];
    border: none;
    spacing: 2px;
    padding: 5px 3px;
}

QToolBar QWidget {
    background: transparent;
}

QToolBar::separator {
    background: [[toolbar_separator]];
    width: 1px;
    margin: 4px 6px;
}
